@using QTKar.Models;
@model HoaDon

@{
    ViewBag.Title = "ChiTietPhong";
    Layout = "~/Views/Shared/_LayoutHoaDon.cshtml";
}

<h2>ChiTietPhong</h2>

@*PhongParital*@
@Html.Action("PhongPartial", "Phong");

@*Panel Hoa Don*@
<div class="x_panel">
    <div class="x_title">
        <h2>Hoa Don @Model.Phong.TenPhong</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

        <div class="x_content" style="display: block;">

      
        <br />
        Gio vao: @(Html.Kendo().TimePicker()
        .Name("Giovao")
        .Value(Model.GioVao))
        @*.Events(e =>
        {
        e.Change("change").Open("open").Close("close");
        }))
        <script>   

    function change() {
        //kendoConsole.log("Change :: " + kendo.toString(this.value(), 'g'));
        alert(this.value());
    }
        </script>*@

        
@Html.Action("GridChiTietHoaDonPartial", "ChiTietHoaDon", new { maHoaDon = Model.MaHoaDon });

            
    </div>
</div>
