@using QTKar.Models;
@model HoaDon

@{
    ViewBag.Title = "ChiTietPhong";
    Layout = "~/Views/Shared/_LayoutHoaDon.cshtml";
}

<h2>ChiTietPhong</h2>

@*PhongParital*@
@Html.Action("PhongPartial", "Phong");

@*Panel Hoa Don*@
<div class="x_panel">
    <div class="x_title">
        <h2>Hoa Don @Model.Phong.TenPhong</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

        <div class="x_content" style="display: block;">

      
        <br />
        Gio vao: @(Html.Kendo().TimePicker().Name("Giovao").Value(Model.GioVao).Events(e => e.Change("change")))        
        <script>   

    function change() {
        //kendoConsole.log("Change :: " + kendo.toString(this.value(), 'g'));
        //alert(this.value());
        //$.ajax({})
    }
        </script>

        
@*@Html.Action("GridChiTietHoaDonPartial", "ChiTietHoaDon", new { maHoaDon = Model.MaHoaDon });*@

            
@(Html.Kendo().Grid<ChiTietHoaDonViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          //columns.Bound(c => c.sanpham.TenHang);
      
          columns.Bound(c => c.SoLuong);
          //columns.Bound(c => c.sanpham.GiaBan);
          columns.Bound(c => c.ThanhTien);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create().Text(" Create New");
          toolbar.Save();
      })
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Pageable()
      .Selectable(selectable =>
      {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Scrollable().HtmlAttributes(new { style = "height:550px;" })
      .DataSource(dataSource => dataSource
          .Ajax()
          .Batch(true)
          .ServerOperation(false)
          .Model(model => model.Id(p => p.MaChiTietHoaDon))
          .Read(read => read.Action("ChiTietHoaDons_Read", "ChiTietHoaDon", new { maHoaDon = Model.MaHoaDon }))
          .Create(create => create.Action("ChiTietHoaDons_Create", "ChiTietHoaDon"))
          .Update(update => update.Action("ChiTietHoaDons_Update", "ChiTietHoaDon"))
          .Destroy(destroy => destroy.Action("ChiTietHoaDons_Destroy", "ChiTietHoaDon"))
      )
)

    </div>
</div>
